[submodule "mola-kernel"]
	path = modules/mola-kernel
	url = git@github.com:jlblancoc/mola-kernel.git
[submodule "yaml-cpp"]
	path = externals/yaml-cpp/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "gtsam"]
	path = externals/gtsam/gtsam
	url = https://github.com/jlblancoc/gtsam.git
	shallow = true
[submodule "mola-launcher"]
	path = modules/mola-launcher
	url = git@github.com:jlblancoc/mola-launcher.git
[submodule "mola-sensor-kitti-dataset"]
	path = modules/mola-sensor-kitti-dataset
	url = git@github.com:jlblancoc/mola-sensor-kitti-dataset.git
[submodule "mola-fe-lidar-3d"]
	path = modules/mola-fe-lidar-3d
	url = git@github.com:jlblancoc/mola-fe-lidar-3d.git
[submodule "mola-slam-gtsam"]
	path = modules/mola-slam-gtsam
	url = git@github.com:jlblancoc/mola-slam-gtsam.git
[submodule "mola-sensor-euroc-dataset"]
	path = modules/mola-sensor-euroc-dataset
	url = git@github.com:jlblancoc/mola-sensor-euroc-dataset.git
[submodule "mola-fe-g2o-dataset"]
	path = modules/mola-fe-g2o-dataset
	url = git@github.com:jlblancoc/mola-fe-g2o-dataset.git
[submodule "mola-fe-imu-preintegration"]
	path = modules/mola-fe-imu-preintegration
	url = git@github.com:jlblancoc/mola-fe-imu-preintegration.git
[submodule "mola-sensor-rawlog"]
	path = modules/mola-sensor-rawlog
	url = git@github.com:jlblancoc/mola-sensor-rawlog.git
[submodule "mola-sensor-hwdrivers"]
	path = modules/mola-sensor-hwdrivers
	url = git@github.com:jlblancoc/mola-sensor-hwdrivers.git
[submodule "mola-sensor-kaist-dataset"]
	path = modules/mola-sensor-kaist-dataset
	url = git@github.com:jlblancoc/mola-sensor-kaist-dataset.git
[submodule "mola-viz"]
	path = modules/mola-viz
	url = git@github.com:jlblancoc/mola-viz
[submodule "mp2p_icp"]
	path = externals/mp2p_icp
	url = https://github.com/MOLAorg/mp2p_icp.git
[submodule "mola-common"]
	path = modules/mola-common
	url = https://github.com/MOLAorg/mola-common.git
[submodule "mola-lidar-segmentation"]
	path = modules/mola-lidar-segmentation
	url = https://github.com/MOLAorg/mola-lidar-segmentation.git
