*.pyc
.vscode
build
build-*
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user*
CMakeScripts
compile_commands.json
CTestTestfile.cmake
docs/html
docs/source/class*.rst
docs/source/doxygen-index.rst
docs/source/enum*.rst
docs/source/global.rst
docs/source/group*.rst
docs/source/namespace*.rst
docs/source/page*.rst
docs/source/struct*.rst
docs/source/xml-dir/
install_manifest.txt
Makefile
Testing