[submodule "mola-kernel"]
	path = modules/mola-kernel
	url = git@github.com:jlblancoc/mola-kernel.git
[submodule "externals/yaml-cpp/yaml-cpp"]
	path = externals/yaml-cpp/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "externals/gtsam/gtsam"]
	path = externals/gtsam/gtsam
	url = https://bitbucket.org/gtborg/gtsam.git
[submodule "modules/mola-launcher"]
	path = modules/mola-launcher
	url = git@github.com:jlblancoc/mola-launcher.git
[submodule "modules/mola-sensor-kitti-dataset"]
	path = modules/mola-sensor-kitti-dataset
	url = git@github.com:jlblancoc/mola-sensor-kitti-dataset.git
[submodule "modules/mola-fe-lidar-icp"]
	path = modules/mola-fe-lidar-icp
	url = git@github.com:jlblancoc/mola-fe-lidar-icp.git
